In [5]:
#coments in python

#print Hello World 
print("hello World")

hello World

In [7]:
#variable In Python
#A variable name location used to store data in memory 

a=10
b=20
c="Internship"

print(a)
print("value of b is:",b)
print("type of course is:",c)

10
value of b is: 20
type of course is: Internship

In [8]:
#Assigning multiple values to multiple variables 

a,b,c=15,45,"kruti"

print(a)
print(b)
print(c)

15
45
kruti

In [10]:
 #Assign the same value to multiple variables
    
a=b=c=1994

print("value of a is :",a)
print("value of b is :",b)
print("value of c is :",c)

value of a is : 1994
value of b is : 1994
value of c is : 1994

In [14]:
# data types in python
#number
#list
#string
#tuple
#dictionary

#NUMBER

n1=10
print(n1,"is type of",type(n1))

n2=20.55
print(n2,"if type of ",type(n2))
print(n2,"is complex number?", isinstance(20.55, int))

n3=2+3j
print(n3,"is complex number?", isinstance(2+3j, complex))

10 is type of <class 'int'>
20.55 if type of  <class 'float'>
20.55 is complex number? False
(2+3j) is complex number? True

In [15]:
#STRING

name="kruti dodiya"

#print complete string
print("Name is:",name)

#print first char. of sring
print(name[0])

#print char. stsrting from 2nd to 6th
print(name[1:6])

#print string strting from 4th char.
print(name[3:])

#print string multiple time
print(name*2)
print(name*4)

#print conected sting
print(name+" hello")

Name is: kruti dodiya
k
ruti
ti dodiya
kruti dodiyakruti dodiya
kruti dodiyakruti dodiyakruti dodiyakruti dodiya
kruti dodiya hello

In [1]:
#LISt

l1 = [10,2.6,"python",500,50,1.7,"programming",1.11]
print(l1)
print(type(l1))

#accessing through index
print(l1[5])

#slicing 
print(l1[3:6])
print(l1[6:])
print(l1[:4])

[10, 2.6, 'python', 500, 50, 1.7, 'programming', 1.11]
<class 'list'>
1.7
[500, 50, 1.7]
['programming', 1.11]
[10, 2.6, 'python', 500]

In [2]:
#tuples
t1 = (100,7.45,2,"kruti",803)
print(t1)
print(type(t1))

#accessing through index
print(t1[2])

#slicing 
print(t1[3:4])
print(t1[2:])
print(t1[:2])

(100, 7.45, 2, 'kruti', 803)
<class 'tuple'>
2
('kruti',)
(2, 'kruti', 803)
(100, 7.45)

In [3]:
#dictionary
d1={1:"python","k1":145, "k2":3, "k3":9.87, 2:"programming", "k4":2100, "k5":5.9}
print(d1)
print(type(d1))

#accessing through key
print(d1["k1"])

{1: 'python', 'k1': 145, 'k2': 3, 'k3': 9.87, 2: 'programming', 'k4': 2100, 'k5': 5.9}
<class 'dict'>
145